%header
  %h1= link_to 'The Next Web', root_path

  %nav
    %ul
      %li.root= link_to 'Minor The Next Web', root_path
      %li.mobile-only= link_to t('.agenda'), '#agenda'
      %li= link_to t('.guide'), guide_path
      %li= link_to t('.appointment'), new_appointment_path
