%h1= t('.coming_week')

%table.event-list
  - Event.upcoming.each_with_object(nil) do |event, previous_date|
    - date = event.starting_at.to_date
    - if previous_date != date
      - previous_date = date
      %tr
        %th(colspan='2')= l(date, format: '%A').titleize
    %tr
      %td= l event.starting_at, format: '%H:%M'
      %td= event.title

%p= link_to t('.full_agenda'), google_calendar_path
